<a href="https://colab.research.google.com/github/bishthimani2005-sketch/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("  BIODATA  ")
print("name: Himani bisht")
print("father's name: Krishna singh")
print("email: bishthimani@2005gmail.com")
print("Date of birth : 25/1/2005")
print("skills: MSExcel")
print("address:uttrakhand")
print("nationality:Indian")
print("religion:Hindu")
print("higher education : Graduate")
print("Hobbies: treking")

  BIODATA
name: Himani bisht
father's name: Krishna singh
email: bishthimani@2005gmail.com
Date of birth : 25/1/2005
skills: MSExcel
address:uttrakhand
nationality:Indian
religion:Hindu
higher education : Graduate
Hobbies: treking

In [ ]:
name = "Himani"
print("name:" , name)
email = "bishthimani@gmail.com"
print ("email:",email)
age = 20
print("age:", age)
skills = "msexcel"
print("skills:",skills)
state = "uttarakhand"
print("state:",state)
nationality = "indian"
print("nationality:",nationality)
religion = "Hindu"
print("riligion:",religion)
education = "graduate"
print("higher education:",education)
hobbies = "treking"
print("hobbies:", hobbies )

name: Himani
email: bishthimani@gmail.com
age: 20
skills: msexcel
state: uttarakhand
nationality: indian
riligion: Hindu
higher education: graduate
hobbies: treking

In [ ]:
a = 5
b = 6
# print( "sum is :" ,a + b)
# print("sub is:",a - b)
# print("mul is :" , a * b)
# print("div is:",a / b)
# print("mod is :",a % b)
print(f"sum is {a+b}")
print(f"sub is {a-b}")
print(f"mul is {a*b}")
print(f"div id {a/b}")
print(f"mod is {a%b}")

sum is 11
sub is -1
mul is 30
div id 0.8333333333333334
modis 5

In [ ]:
item1 = "pizza"
price_of_item1 = 50
item2 = "burger"
price_of_item2 = 50
item3 = "samosa"
price_of_item3 = 500
total_bill = price_of_item1+price_of_item2+price_of_item3
print("total_bill_is:", total_bill)

total_bill_is: 600

In [ ]:
item1 = "pizza"
pay_of_item1= int(input("enter_price"))
item2 = "burger"
pay_of_item2 =int(input("enter_price2"))
item3 = "tea"
pay_of_item3 =int(input("enter_price3"))
total_price = pay_of_item1 +pay_of_item2+ pay_of_item3
print("total price",total_price)
discount = total_price*20/100
print("discount",discount)
print("paybill",total_price-discount)

enter_price50
enter_price260
enter_price350
total price 160
discount 32.0
paybill 128.0

In [ ]:
discount_percent = 20
discount = total_bill * discount_percent/100
print(discount)
payof_bill = total_bill - discount
print(payof_bill)

120.0
480.0

In [ ]:
item1 = "television"
price_of_item1 = 50000
item2 = "speaker"
price_of_item2 = 10000
item3 = "laptop"
price_of_item3 = 60000
item4 = "mobile"
price_of_item4 = 30000
item5 = "dvd"
price_of_item5 = 10000
item6 = "microwave"
price_of_item6 =15000
item7 = "geyser"
price_of_item7 = 3000
total_bill = price_of_item1 + price_of_item2 + price_of_item3 +price_of_item4 +price_of_item5+price_of_item6+price_of_item7
print("totalbill:",total_bill)
discount_percent = 33
discount = total_bill*discount_percent/100
print("Discount:",discount)
total_all = total_bill-discount
print("total all is:" , total_all)

totalbill: 178000
Discount: 58740.0
total all is: 119260.0

In [ ]:
item1 = "televsion"
price_of_item1 = 2000
item2 = "speaker"
price_of_item2 = 1000
item3 = "laptop"
price_of_item3 = 1000

In [ ]:
p= 500
r =10
t = 2
simple_interest = p*r*t/100
print("simple interest is :",simple_interest)

simple interest is : 100.0

In [ ]:
p = int(input("enter princpel"))
r = int(input("enter rate"))
t = int(input("enter time"))
simple_interest = p*r*t/100
print("simple interset is : ", simple_interest)
total_all= simple_interest + p
print("total is",total_all)

enter princpel1500
enter rate200
enter time3
simple interset is :  9000.0
total is 10500.0

In [ ]:
name = input("enter name:")
print("name:",name)
age = int(input("enter age"))
print("age:",age)
date_of_birth = input("enter date of birth")
print("birthdate",date_of_birth)
email = input("enter email")
print("email:",email)

enter name:Himani
Himani
enter age20
20
enter date of birth25/01/2005
25/01/2005
enter emailbishthimani@gmail.com
bishthimani@gmail.com

In [ ]:
first_product = "laptop"
second_product = "dvd"
third_product = "mobile"
fourth_product = "pendrive"
price_of_first_product = 50000
price_of_second_product = 10000
price_of_third_product = 20000
price_of_fourth_product = 500
total_price_of_product = price_of_first_product+price_of_second_product+price_of_third_product+price_of_fourth_product
print("total price of product:",total_price_of_product)
discount = 22
with_discount = total_price_of_product*discount/100
print("total bill with discount:",with_discount)
total_all = total_price_of_product - with_discount
print("total bill of product is:",total_all)

total price of product: 80500
total bill with discount: 17710.0
total bill of product is: 62790.0

In [ ]:
first_product = "mobile"
second_product = "laptop"
third_product = "cd"
fourth_product = "dvd"
pay_of_first_product = int(input("enter price of mobile:"))
pay_of_second_product = int(input("enter price of laptop:"))
pay_of_third_product = int(input("enter price of cd:"))
pay_of_fourth_product = int(input("enter price of dvd:"))
total_bill = pay_of_first_product+pay_of_second_product+pay_of_third_product+pay_of_fourth_product
print("total bill of product is:", total_bill)
discount_percent = 43
discount = total_bill*discount_percent/100
print("discount is",discount)
all_bill_of_product = total_bill-discount
print("all bill of product is:",all_bill_of_product)

enter price of mobile:50000

In [ ]:
num = 5
if(num%2==0):
  print("num is even")
else:
  print("num is odd")

num is odd

In [ ]:
num = int(input("enter num"))
if(num%2==0):
  print("num is even",num)
else:
  print("num is odd",num)

enter num7
num is odd 7

In [ ]:
x = int(input("enter the num:"))
if(x%7==0):
  print("num is multiple of 7")
else:
  print("num is not multiple of 7")

enter the num:77
num is multiple of 7

In [ ]:
num = -10
if num>0:
  print("+ve number")
elif num == 0:
  print("0 number")
else:
  print("-ve number")

-ve number

In [ ]:
marks = 77
if marks>=95:
  print(" grade is A+")
elif marks>=90:
  print("grade is A")
elif marks>= 80:
  print("grade is B+")
elif marks >= 70:
  print("grade is B ")
elif marks>=65:
  print("grade is C+")
elif marks >= 60:
  print("grade is C")
else:
  print(" fail ")

grade is B

In [ ]:
marks = int(input("enter number"))
if marks>=90:
  print("A+")
elif marks>=70:
  print("B+")
else:
  print("C")

enter number98
A+

In [ ]:
num = 89
if num%2==0:
  print("num is even" , num)
else:
  print("num is odd" , num)

num is odd 89

In [ ]:
num = 5328650
if num%5 == 0:
  print("multiple of 5")
else:
  print("not multiple")

multiple of 5

In [ ]:
num = int(input("enter number:"))
if num%5 == 0:
  print("multiple of 5" ,num)
else:
  print(" not multiple " , num)

enter number:5328650
multiple of 5 5328650

In [4]:
week = input("enter week:")
if week == "monday":
  print("this is weekday:",week)
elif week == "tuesday":
  print("this is weekday:",week)
elif week == "wednesday":
  print("this is weekday:", week)
elif week == "thursday":
  print("this is weekday:", week)
elif week == "friday":
  print("this is weekday:",week)
elif week == "saturday":
  print("this is weekend:", week)
else:
  print("this is weekend:",week)

enter week:saturday
this is weekend: saturday